body {
    margin: 0;
}

h1 {
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    font-size: 35px;
}

.class1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.section-header {
    background-color: #00A651;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;

}

.logo-text {

    max-width: 137px;
    color: white;
    padding-left: 100px;
    max-width: 182px;
}

.menu1 {
    color: white;
    list-style-type: none;
    padding: 0;

}

li {
    display: inline;
    padding-left: 20px;
}

.header_log {
    display: flex;
    align-items: center;
}

li:hover {
    color: blue;
}


.banner {
    height: 800px;
    background-image: url("../images/banner1.png");
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section1 {
    background-color: white;
    display: flex;
    background-color: #00A651;
    justify-content: space-around;
    padding: 30px 400px;
    align-items: center;
}

.programig-img {
    max-width: 40%;
}

.programig-text {
    max-width: 30%;
    color: white;
}

h3 {
    font-size: 30px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.p1 {
    color: white;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.section2 {
    background-color: white;
    display: flex;
    background-color: #00A651;
    justify-content: space-around;
    padding: 30px 400px;
    align-items: center;
    padding-top: 4px;

}

.p2 {
    color: white;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;


}